@font-face {
  font-family: 'Circe';
  src: local('Circe'),
    url('../../assets/fonts/circe/circe_bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe'),
    url('../../assets/fonts/circe/circe.ttf') format('truetype');
  font-weight: 400;
}
